/* You can add global styles to this file, and also import other style files */

// for group chat

#currentUser {
  height: 200px;
  margin: 0.5rem;
  // width: 400px;
  object-fit: cover;
  position: absolute;
  top: 62%;
  left: 50%;
  background-color: white;
  width: 300px;
  border-radius: 0%;
}
