/* You can add global styles to this file, and also import other style files */
video {
    height: 300px;
    border-radius: 1rem;
    margin: 0.5rem;
    width: 400px;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}